#About{
    background-color: rgb(253, 253, 253);
    background-attachment: fixed;
    padding: 2.4rem;
}

#About .aboutTitle{
    font-size: 2.5rem;
}

#About .aboutSelf{
    font-size: 1.2rem;
}


#About img{
    height: 26rem;
}

#About .details div{
    margin-top: 0;
    margin-left: 5rem;
}

#About .details{
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

#About td{
    padding: 0.9rem;
}
#About a{
    text-decoration: none;
}

@media only screen and (max-height: 768px) {
    
    #About {
        padding: 1rem 2.4rem ;
    }

    #About img{
        height: 20rem;
    }
    #About td{
        padding: 0.4rem;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    
    #About{
        padding: 1.3rem;
        height: max-content;
        width: 100%;
    }
    #About img{
        height: 20rem;
    }

    #About .aboutTitle{
        font-size: 2rem;
    }
    
    #About .aboutSelf{
        font-size: 1rem;
        width: 100%;
    }

    #About .details{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    #About .details div {
        margin-top: 1rem;
        margin-left: 0;
    }

}