
#Certifications{
    background-color: #f6fcff;
    padding: 2.4rem;
    height: 100%;
}


@media only screen and (max-height: 768px) {
    .w-75{
        width: 60% !important;
    }
    
}

@media (min-width: 320px) and (max-width: 480px){
    
    .w-75{
        width: 100% !important;
    }
}