
#Contact{
    background-color: rgb(233, 242, 252);
    padding: 4rem;
}

.contact-title{
    font-size: 2rem;
}

.contact-container{
    width: 100%;
    height: 91%;
    margin-top: 0.9rem;
}


.contact-content{
    width: 50%;
    background-color: white;
    height: 100%;
    padding: 3rem;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4);
    /* border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem; */
}

.contact-content-title{
    font-size: 1.5rem;
    font-weight: bold;
}


.pad-1{
    padding: 0.5rem;
}

.contact-content-details p{
    font-size: 1.1rem;
    font-weight: bold;
}

.contact-map{
    margin-top: 1rem;
    width: 100%;
    height: 15rem;
}

.contact-form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color:rgb(212, 234, 244);
    
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4);
}

.contact-form-title{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.contact-form input{
    margin-top: 0.5rem;
    border: 0;
    border-bottom: 2px solid;
    padding: 1rem;
    /* border-radius: 1rem; */
    background-color:rgb(227, 241, 250) ;
}

.contact-form textarea{
    margin-top: 0.5rem;
    padding: 1rem;
    border: 0;
    background-color:rgb(227, 241, 250);
    /* border-radius: 1rem; */
    border-bottom: 2px solid;
}

.contact-form input[type="submit"]
{
    margin-top:0.7rem;
    border: 2px solid;
    padding: 0.7rem;
}

@media only screen and (max-height: 768px) {
    #Contact{
        padding: 1rem 4rem;
    }

    .contact-map{
        height: 13rem;
    }
}