
*{
    margin: 0;
    padding: 0;
}

.main{
    padding: 2rem;
}

.main #aks-header{
    width: 100%;
}
.user-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 1rem;
}

.avatar {
    height: 7.2rem;
    border-radius: 100%;
    margin-top: 1.2rem;
}

.user-card h2 {
    margin-top: 0;
}

.user-card p {
    margin-bottom: 10px;
}

.user-card a {
    display: inline-block;
    text-decoration: none;
    color: #0366d6;
    padding: 5px 10px;
    border: 1px solid #0366d6;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.user-card a:hover {
    background-color: #0366d6;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.repo-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.repo-card h3 {
    margin-top: 0;
}

.repo-card p {
    margin-bottom: 10px;
}

.repo-card a {
    display: block;
    text-decoration: none;
    color: #0366d6;
}
