@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    cursor: url('/Dashboard/images/cursor.png'), auto;
}
a{
    cursor: url("/Dashboard/images/pointer.png"),auto;
}

:root{
    --nav-width : 18.5vw;
}

body{
    display: flex;
    /* background-image: url("/Dashboard/images/background.jpg"); */

}


/* Navigation */

#my-navbar::before{
    content: " ";
    position: absolute;
    background-image: url("/Dashboard/images/background.jpg");
    height: 100%;
    width: 100%;
    filter: blur(10px);
    z-index: -1;
    opacity: 1;
}
#my-navbar{
    position: relative;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.3); */
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    width: var(--nav-width);    
}



.nav-header{
    padding-top: 3rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

.nav-header img{
    height: 8rem;
    border-radius: 100%;
    border: 0.4rem solid #4c829167;
}

.nav-header h4{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.nav-header i{
    color: white;
}

.nav-header #SocialLinks{
    margin-top: 1rem ;
}

.nav-header #SocialLinks a{
    margin: 0.5rem;
    
}

.nav-header #SocialLinks i:hover{
    color: #149ddd;
}
#my-navbar ul{
    flex-direction: column;
    align-items: start;
    list-style: none;
    padding-left: 4rem;
}

#my-navbar ul a{
    text-decoration: none;
    color: grey;
    text-align: left;
    transition: color 0.2s;
}

#my-navbar li{
    display: inline;
    margin-top: 2rem;
    transition: color 0.3s;
}

#my-navbar li i{
    color: grey;
    margin-right: 0.5rem;
}

#my-navbar li.active a {
    color: white;
}

#my-navbar li.active a i {
    color: #149ddd;
}

.active i{
    color: #149ddd;
}

#my-navbar li:hover i{
    color: #149ddd;
}

#my-navbar li:hover a{
    color: white;
}


/*  my container  */
.my-container{
    overflow-y: scroll;
    height: 100vh;
    width: calc(100% - var(--nav-width));
    scroll-behavior: smooth;
}



.my-container::-webkit-scrollbar{
    display: none;
}
.container-project::-webkit-scrollbar{
    display: none;
}


section{
    /* border: 1px solid; */
    display: block; 
    height: 100%;

    
}

section::-webkit-scrollbar{
    display: none;
}


#my-bars, #my-cross{
    display: none;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1;
    color: white ;
    background-color: #149ddd;
    padding: 0.5rem;
    border-radius: 100%;
    
}




#imbeding{
    overflow: hidden;
    overflow-y: scroll;
}
@media only screen and (max-height: 768px) {
    #my-navbar li{
        margin-top: 1.4rem;
    }
    .nav-header{
        margin-bottom: 1.2rem;
    }
}

@media (min-width: 320px) and (max-width: 480px)
{
    body{
        /* overflow: hidden; */
        /* overflow-y: scroll; */
    }
    #my-navbar{
        resize: none;
        display: hidden;
        width: 0;
        height: 100%;
        transition: width 0.5s ease;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        overflow-y: hidden;
    }
    #my-bars{
        display: block;
    }
    .my-container{
        resize: none;
        width: 100vw;
        /* margin-left: 0 ; */
    }
    section{
        width: 100%;
        height: max-content;
    }
    .nav-header{
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
    #my-navbar li{
        margin-top: 1.4rem;
    }
}
