@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    cursor: url('/Dashboard/images/cursor.png'), auto;
}
a{
    cursor: url("/Dashboard/images/pointer.png"),auto;
}

:root{
    --nav-width : 18.5vw;
}

body{
    display: flex;
    /* background-image: url("/Dashboard/images/background.jpg"); */
}


/* Navigation */

#my-navbar::before{
    content: " ";
    position: absolute;
    background-image: url("/Dashboard/images/background.jpg");
    height: 100%;
    width: var(--nav-width);
    filter: blur(10px);
    z-index: -1;
    opacity: 1;
}
#my-navbar{
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.3); */
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    width: var(--nav-width);    
}



.nav-header{
    padding-top: 3rem;
    flex-direction: column;
    margin-bottom: 3rem;
}

.nav-header img{
    height: 8rem;
    border-radius: 100%;
    border: 0.4rem solid #4c829167;
}

.nav-header h4{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.nav-header i{
    color: white;
}

.nav-header #SocialLinks{
    margin-top: 1rem ;
}

.nav-header #SocialLinks a{
    margin: 0.5rem;
    
}

.nav-header #SocialLinks i:hover{
    color: #149ddd;
}
#my-navbar ul{
    flex-direction: column;
    align-items: start;
    list-style: none;
    padding-left: 4rem;
}

#my-navbar ul a{
    text-decoration: none;
    color: grey;
    text-align: left;
    transition: color 0.2s;
}

#my-navbar li{
    display: inline;
    margin-top: 2rem;
    transition: color 0.3s;
}

#my-navbar li i{
    color: grey;
    
}

#my-navbar li.active a {
    color: white;
}

#my-navbar li.active a i {
    color: #149ddd;
}

.active i{
    color: #149ddd;
}

#my-navbar li:hover i{
    color: #149ddd;
}

#my-navbar li:hover a{
    color: white;
}


/*  my container  */
.my-container{
    overflow-y: scroll;
    height: 100vh;
    width: calc(100% - var(--nav-width));
    scroll-behavior: smooth;
}



.my-container::-webkit-scrollbar{
    display: none;
}
.container-project::-webkit-scrollbar{
    display: none;
}


section{
    /* border: 1px solid; */
    display: block; 
    height: 100%;
    
}

section::-webkit-scrollbar{
    display: none;
}


#circularcursor {
    background-color: transparent;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}


#imbeding{
    overflow: hidden;
    overflow-y: scroll;
}