
#Skills{
    /* background: url('/Dashboard/images/skillBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding: 2.4rem;
    background-color:#E3FDFD;
}

#Skills .skills-title{
    font-size: 2.4rem;
}
#Skills .skills-container{
    flex-direction: column;
    justify-content: flex-start;
    height: 86%;
}

#Skills .skill-tab{
    /* background-color: white; */
    border-radius: 3rem;
}

#Skills .skill-tab a{
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 1rem;
    border-radius: 3rem;
    color: black;
    margin: 0 1rem;
    width: 13rem;
    text-decoration: none;
    cursor: url("/Dashboard/images/pointer.png"),auto;
    transition: background-color 0.6s ease-out;
}
.skill-active{
    background-color: #E3E1D9;

}

#Skills .skill-tab-container{
    margin-top: 2rem;
    width: 100%;
    height: 86%;
    flex-direction: row;
    transition: display 2s ease;
}

#Skills .skill-tab-inside{
    height: 100%;
    width: 100%;
    
    border-radius: 2rem;
    /* background-color: white; */
    padding: 2rem;
}
#Skills img{
    height: 7rem;
}
#languages p{
    justify-content: space-evenly;
    align-items: center;
}

.languages-container{
    /* border: 2px solid; */
    height: 93%;
    width: 100%;
    
}

.languages-container .nav-tab{
    justify-content: flex-end;
    /* border: 2px solid; */
    height: 100%;
}

.languages-container ul{
    list-style: none;
    align-items: center;
    padding-left: 0;
    justify-content: flex-start;    
}

.languages-container li{
    margin-top: 2.3rem;
    padding-top: 0.9rem;
    padding-left: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 0.9rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    text-align: center;
    transform-origin: background-color 1s;
    cursor: url("/Dashboard/images/pointer.png"),auto;
    /* background-color: white; */
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
}

.languages-container li:hover{
    
    background-color:#E3E1D9 ;
}

.language-tab-container{
    /* border: 2px solid; */
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    background-color:#E3E1D9 ;
}

.language-tab-container img{
    filter: drop-shadow(2px 3px 2px rgba(0,0,0,0.4));
    margin: 0.7rem;
}

.lang-active{
    width: 100%;
    background-color:#E3E1D9 ;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
}

.system-container{
    align-items: center;
    justify-content: flex-start;
    height: 97%;
    width: 100%;
    background-color: white;
    border-radius: 3rem;
    padding: 4rem;
}


.redhat-certi-img{
    height: 17rem;
}

