.skills-section {
  margin-top: 50px; /* Adjust as needed */
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  margin-bottom: 5px;
}

.skill-bar {
  height: 10px;
  background-color: #ddd;
}

.skill-progress {
  height: 100%;
  background-color: #4caf50; /* Green color */
  animation: expandWidth 2s ;
}


.skill-percentage {
  margin-top: 5px;
}
